fastapi
uvicorn[standard]
sqlalchemy
pymysql
python-dotenv
python-jose
bcrypt==4.0.1
passlib[bcrypt]
python-multipart
pandas
evds
email-validator
google-generativeai
google-api-python-client
setuptools